<div class="store-card">
    <div class = "store-header">
      <h2>Products:</h2>
      <span class="product-button" (click)="this.showProductModal(null)">add</span>
    </div>
    <div *ngIf="this.products">
    <div class = "store-body">
      <ul *ngFor="let product of this.products">
        <div class="product-card">
          <h5><b>Item: {{product.name}}</b></h5>
          <span class="product-button" (click)="this.showProductModal(product._id)">edit</span>
          <span class="product-button" (click)="this.deleteProduct(product._id)">delete</span>
          <p>Price: {{product.price | currency}}</p>
          <p>Seller: {{product.sellerName}}</p>
          <p>Created at: {{product.createdAt| date}}</p>
          <p>Updated at: {{product.updatedAt| date}}</p>
        </div>

      </ul>
    </div>
  </div>
  </div>
  <div id="myModal" class="modal" [style.display]="this.showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Product details</h2>
        <span class="product-button" (click)="this.closeModal()">&times;</span>
      </div>
      <div class="modal-body">
        <label for="Name">Product name: </label>
        <input [(ngModel)]="this.pname" placeholder="type the product name">
        <label for="Price">Product price: </label>
        <input type = "number" [(ngModel)]="this.pprice" placeholder="type the product price">
        <label for="Seller" [style.visibility]="this.showSeller">Product Seller: </label>
        <input [(ngModel)]="this.seller" placeholder="type the product seller" [style.visibility]="this.showSeller">
        <button id="confirm" (click)="this.execute()">confirm</button>
      </div>
    </div>

  </div>
